html, body{
	margin-left:15px; 
	padding:0px; 
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

table {   
	border-collapse:collapse;
	border-bottom:1px solid gray;
	font-family: Tahoma,Verdana,Segoe,sans-serif;
	width:100%;
	height:75%;
}
 
th {
	border-bottom:1px solid gray;
	background:none repeat scroll 0 0 #00FFFF;
	padding:10px;
	color: #FFFFFF;
	border:1px solid black
}

tr {
	border: 1px solid black
	border-top:1px solid gray;
	text-align:center;	
	
}

td
{
	border:1px solid black
}
 
tr:nth-child(even) {background: #FFFFFF}
tr:nth-child(odd) {background: #BBBBBB}	
 
#wrapper {width: 100%; margin-top: 0px; }
#header {width: 100%; background: #00FFFF; margin-top: 0px;padding:5px 0px 0px 0px;}
#header h2 {width: 100%; margin:auto; color: #FFFFFF;}
#container {width: 100%; margin:50px}
#container h3 {color: #000;}
#container #content {margin-top: 20px;}

